login-page,
reset-page {
  .item {
    background-color: transparent !important;
    margin-bottom: 16px;

    .item-inner {
      border-bottom-color: #dedede !important;
      box-shadow: none !important;
    }

    .label-md[stacked] {
      color: #f4f4f4 !important;
      font-size: 1.5rem;
      font-weight: 300;
      letter-spacing: .75px;
    }

    ion-input {
      color: #f4f4f4;
      font-size: 2rem;
    }
  }
}
