<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>103008606966-lij524pu4uh8rckdba0abl0hovdos20p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.103008606966-lij524pu4uh8rckdba0abl0hovdos20p</string>
	<key>API_KEY</key>
	<string>AIzaSyCV6eGHxMUMGJJlJSYP4mVneYwjAlH5mb8</string>
	<key>GCM_SENDER_ID</key>
	<string>103008606966</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.homora.app</string>
	<key>PROJECT_ID</key>
	<string>homora-483ba</string>
	<key>STORAGE_BUCKET</key>
	<string>homora-483ba.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:103008606966:ios:da745b3d6db4b25a</string>
	<key>DATABASE_URL</key>
	<string>https://homora-483ba.firebaseio.com</string>
</dict>
</plist>