<ion-header [ngClass]="{'transparent clear-btns': !preview }">
	<ion-navbar>
		<ion-buttons *ngIf="!preview" end>
			<button *ngIf="user" (click)="toggleFavorite()" ion-button icon-only clear>
				<ion-icon name="{{isFavorite()}}"></ion-icon>
			</button>
		</ion-buttons>
	</ion-navbar>
</ion-header>
<ion-content>
	<div *ngIf="listing">
		<ion-slides centeredSlides="false" autoplay="5000">
			<ion-slide *ngFor="let image of listing.images">
				<img [attr.src]="image.src" alt="{{listing.title}}" />
			</ion-slide>
			<ion-slide *ngIf="!hasListingImage()">
				<img [attr.src]="DEFAULT_LISTING_IMAGE" alt="Default Image" />
			</ion-slide>
		</ion-slides>
		<div class="listing-header" padding-vertical>
			<h2 class="title md-display-1" *ngIf="listing.title" padding-horizontal no-margin>{{listing.title}}</h2>
			<ion-grid no-padding>
				<ion-row align-items-start padding-horizontal>
					<ion-col>
						<h3 class="price md-display-1" *ngIf="listing.price" no-margin>{{listing.price | currency:'USD':true:'1.0-3'}}<span>/&nbsp;month</span></h3>
						<h4 class="location md-subhead" *ngIf="listing.location.city && listing.location.state" no-margin><ion-icon name="pin"></ion-icon> {{listing.location.city}}, {{listing.location.state}}</h4>
					</ion-col>
					<ion-col (click)="viewProfile(createdBy.$key)" *ngIf="(listing.createdBy$ | async) as createdBy;" col-auto>
						<ion-avatar class="avatar">
							<img [attr.src]="createdBy.images && createdBy.images[0] ? createdBy.images[0].src : DEFAULT_USER_IMAGE" alt="{{createdBy.firstName}} {{createdBy.lastName}}">
						</ion-avatar>
						<p class="listing-createdby md-subhead">{{createdBy.firstName}}, {{ today | amDifference: createdBy.birthdate :'years'}}</p>
					</ion-col>
				</ion-row>
				<ion-row class="more-info" align-items-center>
					<ion-col>
						<h3 class="md-subhead" no-margin><ion-icon name="home"></ion-icon>&nbsp;Move-in</h3>
						<p no-margin>{{availability(listing.availability)}}</p>
					</ion-col>
					<ion-col *ngIf="listing.duration">
						<h3 class="md-subhead" no-margin><ion-icon name="calendar"></ion-icon>&nbsp;Duration</h3>
						<p no-margin>{{duration(listing.duration.lower, listing.duration.upper)}}</p>
					</ion-col>
					<ion-col>
						<h3 class="md-subhead" no-margin><ion-icon name="cash"></ion-icon>&nbsp;Deposit</h3>
						<p no-margin>{{listing.deposit | currency:'USD':true:'1.0-3'}}</p>
					</ion-col>
				</ion-row>
			</ion-grid>
			<p class="md-subhead" (click)="readMore(listing.summary)" *ngIf="listing.summary" padding-horizontal>{{listing.summaryTruncated}}<button class="readmore" ion-button clear no-padding>Read More</button></p>
			<div *ngIf="hasFeatures(listing.amenities)" padding>
				<h3 class="md-title title-border" ion-text>AMENITIES</h3>
				<ion-grid class="amenities">
					<ion-row>
						<ion-col *ngIf="listing.amenities.washer" col-3>
							<div class="icon-laundry"></div>
							<h4>In-unit Washer</h4>
						</ion-col>
						<ion-col *ngIf="listing.amenities.wifi" col-3>
							<div class="icon-wifi"></div>
							<h4>Wifi Included</h4>
						</ion-col>
						<ion-col *ngIf="listing.amenities.water" col-3>
							<div class="icon-drop2"></div>
							<h4>Water Included</h4>
						</ion-col>
						<ion-col *ngIf="listing.amenities.electricity" col-3>
							<div class="icon-outlet"></div>
							<h4>Electricty Included</h4>
						</ion-col>
						<ion-col *ngIf="listing.amenities.furnished" col-3>
							<div class="icon-couch"></div>
							<h4>Furnished</h4>
						</ion-col>
						<ion-col *ngIf="listing.amenities.doorman" col-3>
							<div class="icon-hand-waving"></div>
							<h4>Doorman</h4>
						</ion-col>
						<ion-col *ngIf="listing.amenities.air" col-3>
							<div class="icon-fan"></div>
							<h4>Air Conditioning</h4>
						</ion-col>
						<ion-col *ngIf="listing.amenities.heating" col-3>
							<div class="icon-thermometer"></div>
							<h4>Heating</h4>
						</ion-col>
						<ion-col *ngIf="listing.amenities.month" col-3>
							<div class="icon-calendar-full"></div>
							<h4>Month-to-Month</h4>
						</ion-col>
						<ion-col *ngIf="listing.amenities.gym" col-3>
							<div class="icon-bench-press"></div>
							<h4>Gym</h4>
						</ion-col>
						<ion-col *ngIf="listing.amenities.tv" col-3>
							<div class="icon-tv"></div>
							<h4>Television</h4>
						</ion-col>
						<ion-col *ngIf="listing.amenities.bathroom" col-3>
							<div class="icon-bathtub"></div>
							<h4>Private Bathroom</h4>
						</ion-col>
						<ion-col *ngIf="listing.amenities.dog" col-3>
							<div class="icon-bone"></div>
							<h4>Has Dog</h4>
						</ion-col>
						<ion-col *ngIf="listing.amenities.cat" col-3>
							<div class="icon-paw"></div>
							<h4>Has Cat</h4>
						</ion-col>
						<ion-col *ngIf="listing.amenities.otherPet" col-3>
							<div class="icon-fish"></div>
							<h4>Has Other Pet</h4>
						</ion-col>
					</ion-row>
				</ion-grid>
			</div>
			<div *ngIf="hasFeatures(listing.rules)" padding>
				<h3 class="md-title title-border" ion-text>RULES</h3>
				<ion-grid class="rules">
					<ion-row>
						<ion-col *ngIf="listing.rules.smoking" col-3>
							<div class="custom-icon no-smoking"></div>
							<h4>No Smoking</h4>
						</ion-col>
						<ion-col *ngIf="listing.rules.pets" col-3>
							<div class="custom-icon no-pets"></div>
							<h4>No Pets</h4>
						</ion-col>
						<ion-col *ngIf="listing.rules.drugs" col-3>
							<div class="custom-icon no-drugs"></div>
							<h4>No Drugs</h4>
						</ion-col>
						<ion-col *ngIf="listing.rules.drinking" col-3>
							<div class="custom-icon no-alcohol"></div>
							<h4>No Drinking</h4>
						</ion-col>
						<ion-col *ngIf="listing.rules.dogOk" col-3>
							<div class="icon-bone"></div>
							<h4>Dogs Ok</h4>
						</ion-col>
						<ion-col *ngIf="listing.rules.catOk" col-3>
							<div class="icon-paw"></div>
							<h4>Cats Ok</h4>
						</ion-col>
						<ion-col *ngIf="listing.rules.otherPetOk" col-3>
							<div class="icon-fish"></div>
							<h4>Other Pets OK</h4>
						</ion-col>
						<ion-col *ngIf="listing.rules.couplesOk" col-3>
							<div class="icon-man-woman"></div>
							<h4>Couple Ok</h4>
						</ion-col>
					</ion-row>
				</ion-grid>
			</div>
			<div #gmap id="map_canvas"></div>
			<div class="metro" *ngIf="listing.location && listing.location.metro && listing.location.metro.length > 0">
				<h3 class="md-title title-border" ion-text>NEARBY TRANSIT</h3>
				<ion-grid class="metro-grid">
					<ion-row>
						<ion-col *ngFor="let metro of listing.location.metro; let i = index" col-4>
							<ion-grid>
								<ion-row style="height: 75px;" class="col-{{metroTotal[i]}}" justify-content-center align-items-center>
									<ion-col *ngIf="metro.LineCode1" class="metro-icon {{metro.LineCode1}}"></ion-col>
									<ion-col *ngIf="metro.LineCode2" class="metro-icon {{metro.LineCode2}}"></ion-col>
									<ion-col *ngIf="metro.LineCode3" class="metro-icon {{metro.LineCode3}}"></ion-col>
									<ion-col *ngIf="metro.LineCode4" class="metro-icon {{metro.LineCode4}}"></ion-col>
								</ion-row>
							</ion-grid>
							<span class="md-caption">{{metro.Name}}</span>
						</ion-col>
					</ion-row>
				</ion-grid>
			</div>
		</div>
		<ion-fab class="interested float" *ngIf="!preview && !isUserListing(listing.createdBy.id)" right bottom>
			<button ion-fab (click)="contact(listing.createdBy.id, listing.$key)">
				<ion-icon name="chatbubbles"></ion-icon>
			</button>
		</ion-fab>
		<ion-fab class="submit float" *ngIf="preview && accountType !== 'basic'" right bottom>
			<button ion-fab (click)="submit(listing)">
				<ion-icon name="ios-arrow-forward"></ion-icon>
			</button>
		</ion-fab>
		<ion-fab class="edit float" *ngIf="!preview && isUserListing(listing.createdBy.id) && accountType !== 'basic'" right bottom>
			<button ion-fab (click)="edit(listing.$key)">
				<ion-icon name="create"></ion-icon>
			</button>
		</ion-fab>
	</div>
</ion-content>