page-listing {
  .slides {
    height: 320px;
  }

  .readmore {
    margin-left: 8px;
    vertical-align: unset;
  }

  .title-border {
    border-bottom: solid 1px rgba(127, 140, 141, .4);
    border-top: solid 1px rgba(127, 140, 141, .4);
    margin: 10px -16px;
    padding: 8px 32px;
  }

  .price {
    font-size: 3rem;
    margin: 8px 0 4px;

    span {
      color: #7f8c8d;
      font-size: 2rem;
    }
  }

  .avatar {
    height: 75px;
    margin: 0 auto;
    width: 75px;
  }

  .listing-createdby {
    margin-top: 8px;
    text-align: center;
  }

  .more-info {
    border-bottom: solid 1px rgba(127, 140, 141, .4);
    border-top: solid 1px rgba(127, 140, 141, .4);

    .col {
      border-right: solid 1px rgba(127, 140, 141, .4);
      padding: 4px 0 !important;
      text-align: center;

      &:last-child {
        border-right: 0;
      }

      p {
        font-size: 18px;
      }
    }
  }

  p {
    .button {
      height: auto;
      vertical-align: middle;
    }
  }

  #map_canvas {
    height: 300px;
    position: relative;
    width: 100%;

    &:not(.map-clicked)::after {
      bottom: 0;
      content: '';
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
    }
  }

  .interested::after,
  .submit::after {
    background: white;
    border-radius: 5px;
    box-shadow: 2px 2px 3px 3px #ccc;
    content: 'Interested? ';
    font-weight: bold;
    left: -90px;
    letter-spacing: .01em;
    letter-spacing: .01em;
    padding: 4px;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
  }

  .submit::after {
    content: 'Submit ';
    left: -65px;
  }

  .grid.amenities .col,
  .grid.rules .col {
    padding: 8px;
    text-align: center;

    [class*=" icon-"]:not(.icon-md),
    [class^="icon-"]:not(.icon-md) {
      font-size: 32px;
    }

    h4 {
      font-size: 1.25rem;
      margin: 8px 0;
    }
  }

  .custom-icon {
    height: 32px;
    margin: auto;
    width: 32px;
  }

  .metro {
    .col[col-4] {
      overflow: hidden;
      text-align: center;
      text-overflow: ellipsis;

      .md-caption {
        font-size: 12px;
        font-weight: bold;
        letter-spacing: .02em;
        white-space: nowrap;
      }

      .col-1 .metro-icon {
        height: 75px;
        width: 75px;
      }

      .col-2 .metro-icon,
      .col-3 .metro-icon,
      .col-4 .metro-icon {
        height: 37.5px;
        width: 37.5px;
      }

      .metro-icon {
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        cursor: pointer;
        display: inline-block;
        margin: auto;
        vertical-align: middle;

        &.RD {
          background-image: url('../assets/imgs/metro/red.svg');
        }

        &.OR {
          background-image: url('../assets/imgs/metro/orange.svg');
        }

        &.SV {
          background-image: url('../assets/imgs/metro/silver.svg');
        }

        &.BL {
          background-image: url('../assets/imgs/metro/blue.svg');
        }

        &.YL {
          background-image: url('../assets/imgs/metro/yellow.svg');
        }

        &.GR {
          background-image: url('../assets/imgs/metro/green.svg');
        }
      }
    }
  }
}
