<ion-header class="transparent" no-border>
	<ion-navbar>
		<ion-title></ion-title>
		<ion-buttons *ngIf="canEditProfile()" end>
			<button (click)="editProfile()" color="dark" ion-button icon-only clear>
				<ion-icon name="create"></ion-icon>
			</button>
		</ion-buttons>
	</ion-navbar>
</ion-header>
<ion-content>
	<div *ngIf="(user$ | async) as user;">
		<ion-slides centeredSlides="false">
			<ion-slide *ngFor="let image of user.images">
				<img [attr.src]="image.src" alt="{{user.firstName}}" />
			</ion-slide>
		</ion-slides>
		<div padding>
			<h2 class="md-headline">{{user.firstName}}</h2>
			<h3 class="md-subhead" *ngIf="user.location">{{user.location}}</h3>
			<hr />
			<p class="md-body">{{(user.description) ? user.description : user.firstName + " hasn't filled out a profile yet."}}</p>
			<hr />
			<p class="md-body">Member since {{user.created | amUtc | amDateFormat: 'MMM YYYY'}}</p>
			<hr />
			<div class="related-listings" *ngIf="false">
				<h2 class="md-title">2 Listings</h2>
				<div class="" *ngFor="">

				</div>
			</div>
		</div>
	</div>
</ion-content>