page-profile-view {
  .slides {
    height: 320px;
  }

  .md-headline {
    font-size: 38px;
  }

  .related-listings {
    ion-slides {
      height: 230px;

      img {
        height: 150px;
        object-fit: cover;
        width: 100%;
      }

      .card-title {
        font-size: 14px;
        font-weight: bold;
        text-align: left;
      }
    }
  }
}
