page-profile-view {
  .slides {
    height: 320px;
  }

  .md-headline {
    font-size: 38px;
  }

  .related-listings {
    ion-slides {
      height: 200px;

      .card-title {
        font-size: 14px;
        font-weight: bold;
        text-align: left;
      }
    }
  }
}
