<ion-header>
	<ion-navbar hideBackButton>
		<button #sidenav ion-button menuToggle icon-only>
			<ion-icon name='menu'></ion-icon>
		</button>
		<ion-title>
			Homora
		</ion-title>
	</ion-navbar>
</ion-header>
<ion-content padding>
	<div *ngIf="(listings$ | async) as listings;">
		<ion-card *ngFor="let listing of listings" (click)="viewListing(listing.$key)">
			<div class="slide-container">
				<ion-slides pager="true">
					<ion-slide *ngFor="let image of listing.images">
						<img [attr.src]="image.src" alt="{{listing.title}}" />
					</ion-slide>
				</ion-slides>
				<div class="price-container">
					<h2 class="price" color="light" ion-text>{{listing.price | currency:'USD':true:'1.0-3'}}</h2>
				</div>
				<button class="favorite" ion-button icon-only clear>
					<ion-icon name="heart-outline"></ion-icon>
				</button>
			</div>
			<ion-card-content>
				<ion-card-header class="profile" no-padding>
					<ion-avatar class="avatar">
						<img [attr.src]="(listing.createdBy | async)?.images[0].src" alt="{{(listing.createdBy | async)?.firstName}} {{(listing.createdBy | async)?.lastName}}">
					</ion-avatar>
				</ion-card-header>
				<ion-card-title>{{listing.title}}</ion-card-title>
				<p class="sub-text">{{listing.availability | date: 'M/d'}} &#183; 1-12 Months Lease</p>
			</ion-card-content>
		</ion-card>
		<ion-fab right bottom>
			<button ion-fab (click)="openMaps()">
				<ion-icon name="map"></ion-icon>
			</button>
		</ion-fab>
	</div>
</ion-content>
<ion-menu [content]="sidenav">
	<ion-header>
		<ion-avatar class="avatar">
			<img src="http://via.placeholder.com/150x150" alt="Braxton Diggs">
		</ion-avatar>
		<h2 ion-text color="light" class="title">Braxton Diggs</h2>
	</ion-header>
	<ion-content>
		<ion-list>
			<ion-item (click)="viewListing()">
				<ion-icon name="person" item-start></ion-icon>
				Profile
			</ion-item>
			<ion-item>
				<ion-icon name="chatbubbles" item-start></ion-icon>
				Inbox
			</ion-item>
			<ion-item>
				<ion-icon name="ios-add-circle" item-start></ion-icon>
				Create Listing
			</ion-item>
			<ion-item>
				<ion-icon name="cog" item-start></ion-icon>
				Settings
			</ion-item>
		</ion-list>
	</ion-content>
</ion-menu>