<ion-header>
	<ion-navbar>
		<ion-title *ngIf="receiver">{{receiver.firstName}}</ion-title>
	</ion-navbar>
	<ion-navbar>
		<div class="sub-header" *ngIf="(listing$ | async) as listing;" (click)="viewListing(listing.$key)">
			<ion-avatar>
				<img [attr.src]="listing.images && listing.images[0] ? listing.images[0].src : DEFAULT_LISTING_IMAGE" alt="{{listing.title}}" />
			</ion-avatar>
			<div>
				<h2>{{listing.title}}</h2>
				<p>{{listing.price | currency:'USD':true:'1.0-3'}}</p>
			</div>
			<button ion-button clear>Details</button>
		</div>
	</ion-navbar>
</ion-header>
<ion-content>
	<div class="message-wrap" *ngIf="user && receiver && message">
		<div *ngFor="let chat of message.chats" class="message" [class.right]="chat.sender === user.$key" [class.left]="chat.sender === receiver.$key">
			<img class="user-img" [attr.src]="user.images && user.images[0] ? user.images[0].src : DEFAULT_USER_IMAGE" alt="{{user.firstName}}" (click)="viewProfile(user.$key)" *ngIf="chat.sender === user.$key">
			<img class="user-img" [attr.src]="receiver.images && receiver.images[0] ? receiver.images[0].src : DEFAULT_USER_IMAGE" alt="{{receiver.firstName}}" (click)="viewProfile(receiver.$key)" *ngIf="chat.sender === receiver.$key">
			<div class="msg-detail">
				<div class="msg-content">
					<span class="triangle"></span>
					<p class="line-breaker" *ngIf="chat.message">{{chat.message}}</p>
					<img [attr.src]="chat.image" *ngIf="chat.image" alt="" />
				</div>
				<div class="msg-info">
					<p>{{chat.created | amTimeAgo}}</p>
				</div>
			</div>
		</div>
	</div>
</ion-content>
<ion-footer no-border>
	<div class="input-wrap">
		<input type="file" id="file" (change)="onFileChange($event)" #file>
		<button (click)="addImage()" ion-button clear icon-only item-right>
			<ion-icon name="camera"></ion-icon>
		</button>
		<textarea #chat_input placeholder="Write a message" [(ngModel)]="messageInput" (keyup.enter)="sendMessage()" (focusin)="onFocus()" rows="1" maxLength="500" (keyup)="resize()"></textarea>
		<button ion-button clear icon-only item-right (click)="sendMessage()">
			<ion-icon name="send"></ion-icon>
		</button>
	</div>
</ion-footer>