<ion-header>
	<ion-navbar *ngIf="{receiver: receiver$ | async, listing: listing$ | async } as data;">
		<ion-title *ngIf="data.listing && !data.listing.scrape">{{data.receiver.firstName}}</ion-title>
		<ion-title *ngIf="data.listing && data.listing.scrape">{{data.listing.user.firstName}}</ion-title>
	</ion-navbar>
	<ion-navbar>
		<div class="sub-header" *ngIf="(listing$ | async) as listing;" (click)="viewListing(listing.$key)">
			<ion-avatar>
				<img [attr.src]="listing.images && listing.images[0] ? listing.images[0].src : DEFAULT_LISTING_IMAGE" alt="{{listing.title}}" />
			</ion-avatar>
			<div>
				<h2>{{listing.title}}</h2>
				<p>{{listing.price | currency:'USD':'symbol':'1.0-3'}}</p>
			</div>
			<button ion-button clear>Details</button>
		</div>
	</ion-navbar>
</ion-header>
<ion-content>
	<div class="message-wrap" *ngIf="user && message">
		<div *ngIf="{receiver: receiver$ | async, listing: listing$ | async } as data;">
			<div *ngIf="data && data.receiver && data.listing">
				<div *ngFor="let chat of message.chats" class="message" [class.right]="chat.sender === user.$key" [class.left]="chat.sender === data.receiver.$key">
					<img class="user-img" [attr.src]="user.images && user.images[0] ? user.images[0].src : DEFAULT_USER_IMAGE" alt="{{user.firstName}}" (click)="viewProfile(user.$key)" *ngIf="chat.sender === user.$key">
					<img class="user-img" [attr.src]="data.receiver.images && data.receiver.images[0] ? data.receiver.images[0].src : DEFAULT_USER_IMAGE" alt="{{data.receiver.firstName}}" (click)="viewProfile(data.receiver.$key)" *ngIf="chat.sender === data.receiver.$key && !data.listing.scrape">
					<img class="user-img" [attr.src]="data.listing.user.images[0].src" alt="{{data.listing.user.firstName}}" (click)="viewProfileFake(data.listing.$key)" *ngIf="chat.sender === data.receiver.$key && data.listing.scrape">
					<div class="msg-detail">
						<div class="msg-content">
							<span class="triangle"></span>
							<p class="line-breaker" *ngIf="chat.message">{{chat.message}}</p>
							<img [attr.src]="chat.image" *ngIf="chat.image" alt="" />
						</div>
						<div class="msg-info">
							<p>{{convertToDate(chat.created) | amTimeAgo}}</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</ion-content>
<ion-footer no-border>
	<div class="input-wrap" *ngIf="(receiver$ | async) as receiver;">
		<input type="file" id="file" (change)="onFileChange($event, receiver)" #file>
		<button (click)="addImage(receiver)" ion-button clear icon-only item-right>
			<ion-icon name="camera"></ion-icon>
		</button>
		<textarea #chat_input placeholder="Write a message" [(ngModel)]="messageInput" (keyup.enter)="sendMessage(receiver)" (focusin)="onFocus()" rows="1" maxLength="500" (keyup)="resize()"></textarea>
		<button ion-button clear icon-only item-right (click)="sendMessage(receiver)">
			<ion-icon name="send"></ion-icon>
		</button>
	</div>
</ion-footer>