<ion-header no-border>
	<ion-navbar>
		<ion-buttons left>
			<button ion-button icon-start icon-only (click)="prev()" *ngIf="backBtn" clear start>
				<ion-icon name="arrow-back"></ion-icon>
			</button>
		</ion-buttons>
		<ion-buttons right>
			<button ion-button (click)="delete()" color="danger" *ngIf="key && false" clear>
				Delete
			</button>
		</ion-buttons>
	</ion-navbar>
</ion-header>
<ion-content>
	<form [formGroup]="listingForm" *ngIf="listing" novalidate>
		<ion-slides (ionSlideWillChange)="onSlideChange()" initialSlide="0">
			<ion-slide padding>
				<h1>Describe your place on Homora</h1>
				<ion-list>
					<ion-item>
						<ion-label stacked>Name your place</ion-label>
						<ion-input formControlName="title" [(ngModel)]="listing.title" type="text" [class.invalid]="!listingForm.controls.title.valid && (listingForm.controls.title.dirty || submitted)"></ion-input>
					</ion-item>
					<p *ngIf="!listingForm.controls.title.valid && (listingForm.controls.title.dirty || submitted)" class="danger error">Title is not valid.</p>
					<ion-item>
						<ion-label stacked>Summary</ion-label>
						<ion-textarea formControlName="summary" [(ngModel)]="listing.summary" rows="10" placeholder="Tell your future roommate the details that make your apartment unique!" [class.invalid]="!listingForm.controls.summary.valid && (listingForm.controls.summary.dirty || submitted)"></ion-textarea>
					</ion-item>
					<p *ngIf="!listingForm.controls.summary.valid && (listingForm.controls.summary.dirty || submitted)" class="danger error">Summary is not valid.</p>
					<ion-item></ion-item>
				</ion-list>
			</ion-slide>
			<ion-slide padding>
				<h1>Where’s your place located?</h1>
				<ion-list>
					<ion-item>
						<ion-label stacked>Street Address</ion-label>
						<ion-input formControlName="address1" [(ngModel)]="listing.location.address1" [class.invalid]="!listingForm.controls.address1.valid && (listingForm.controls.address1.dirty || submitted)" type="text"></ion-input>
					</ion-item>
					<p *ngIf="!listingForm.controls.address1.valid && (listingForm.controls.address1.dirty || submitted)" class="danger error">Address is not valid.</p>
					<ion-item>
						<ion-label stacked>Apt, Suite, Bldg. (optional)</ion-label>
						<ion-input formControlName="address2" [(ngModel)]="listing.location.address2" [class.invalid]="!listingForm.controls.address2.valid && (listingForm.controls.address2.dirty || submitted)" type="text"></ion-input>
					</ion-item>
					<ion-row>
						<ion-item col-6>
							<ion-label stacked>City</ion-label>
							<ion-input formControlName="city" [(ngModel)]="listing.location.city" [class.invalid]="!listingForm.controls.city.valid && (listingForm.controls.city.dirty || submitted)" type="text"></ion-input>
						</ion-item>
						<ion-item col-6>
							<ion-label stacked>State</ion-label>
							<ion-select formControlName="state" [(ngModel)]="listing.location.state" [class.invalid]="!listingForm.controls.state.valid && (listingForm.controls.state.dirty || submitted)">
								<ion-option value="DC">District of Columbia</ion-option>
								<ion-option value="MD">Maryland</ion-option>
								<ion-option value="VA">Virginia</ion-option>
							</ion-select>
						</ion-item>
						<p *ngIf="!listingForm.controls.city.valid && (listingForm.controls.city.dirty || submitted)" class="danger error" col-6>City is not valid.</p>
						<p *ngIf="!listingForm.controls.state.valid && (listingForm.controls.state.dirty || submitted)" class="danger error" col-6>State is not valid.</p>
					</ion-row>
					<ion-item>
						<ion-label stacked>Zip Code</ion-label>
						<ion-input formControlName="zip" [(ngModel)]="listing.location.zip" [class.invalid]="!listingForm.controls.zip.valid && (listingForm.controls.zip.dirty || submitted)" type="text"></ion-input>
					</ion-item>
					<p *ngIf="!listingForm.controls.zip.valid && (listingForm.controls.zip.dirty || submitted)" class="danger error" col-6>Zipcode is not valid.</p>
					<ion-item class="checkbox">
						<ion-label>Would you like to make your address private?</ion-label>
						<ion-checkbox formControlName="isPrivate" [(ngModel)]="listing.location.isPrivate" [class.invalid]="!listingForm.controls.isPrivate.valid && (listingForm.controls.isPrivate.dirty || submitted)"></ion-checkbox>
					</ion-item>
				</ion-list>
			</ion-slide>
			<ion-slide padding>
				<h1>Who do you want your next roommate to be?</h1>
				<h3 padding>Gender</h3>
				<ion-segment formControlName="gender" [(ngModel)]="listing.roommate.gender" [class.invalid]="!listingForm.controls.gender.valid && (listingForm.controls.gender.dirty || submitted)">
					<ion-segment-button value="all">
						<ion-icon name="man"></ion-icon>
						<ion-icon name="woman"></ion-icon>
						<div class="segment-label">Male or Female</div>
					</ion-segment-button>
					<ion-segment-button value="male">
						<ion-icon name="man"></ion-icon>
						<div class="segment-label">Male</div>
					</ion-segment-button>
					<ion-segment-button value="female">
						<ion-icon name="woman"></ion-icon>
						<div class="segment-label">Female</div>
					</ion-segment-button>
				</ion-segment>
				<h3 class="age-title" padding>Age</h3>
				<ion-list>
					<ion-item>
						<ion-label>Early 20s</ion-label>
						<ion-checkbox formControlName="groupEarly20" [(ngModel)]="listing.roommate.age.groupEarly20" [class.invalid]="!listingForm.controls.groupEarly20.valid && (listingForm.controls.groupEarly20.dirty || submitted)"></ion-checkbox>
					</ion-item>
					<ion-item>
						<ion-label>Late 20s</ion-label>
						<ion-checkbox formControlName="groupLate20" [(ngModel)]="listing.roommate.age.groupLate20" [class.invalid]="!listingForm.controls.groupLate20.valid && (listingForm.controls.groupLate20.dirty || submitted)"></ion-checkbox>
					</ion-item>
					<ion-item>
						<ion-label>30s</ion-label>
						<ion-checkbox formControlName="group30" [(ngModel)]="listing.roommate.age.group30" [class.invalid]="!listingForm.controls.group30.valid && (listingForm.controls.group30.dirty || submitted)"></ion-checkbox>
					</ion-item>
					<ion-item>
						<ion-label>40s and older</ion-label>
						<ion-checkbox formControlName="group40older" [(ngModel)]="listing.roommate.age.group40older" [class.invalid]="!listingForm.controls.group40older.valid && (listingForm.controls.group40older.dirty || submitted)"></ion-checkbox>
					</ion-item>
				</ion-list>
			</ion-slide>
			<ion-slide padding>
				<h1>What's the cost? When is the room available?</h1>
				<ion-list>
					<ion-item>
						<ion-label stacked>Monthly Rent</ion-label>
						<ion-input formControlName="price" [(ngModel)]="listing.price" [class.invalid]="!listingForm.controls.price.valid && (listingForm.controls.price.dirty || submitted)" type="number"></ion-input>
					</ion-item>
					<p *ngIf="!listingForm.controls.price.valid && (listingForm.controls.price.dirty || submitted)" class="danger error">Price is not valid.</p>
					<ion-item>
						<ion-label stacked>Deposit</ion-label>
						<ion-input formControlName="deposit" [(ngModel)]="listing.deposit" [class.invalid]="!listingForm.controls.deposit.valid && (listingForm.controls.deposit.dirty || submitted)" type="number"></ion-input>
					</ion-item>
					<p *ngIf="!listingForm.controls.deposit.valid && (listingForm.controls.deposit.dirty || submitted)" class="danger error">Deposit is not valid.</p>
					<ion-item>
						<ion-label stacked>Start Date</ion-label>
						<ion-datetime formControlName="availability" displayFormat="MMM DD, YYYY" pickerFormat="MMM DD YYYY" [min]="minAvailability" [(ngModel)]="listing.availability" [class.invalid]="!listingForm.controls.availability.valid && (listingForm.controls.availability.dirty || submitted)"></ion-datetime>
					</ion-item>
					<p *ngIf="!listingForm.controls.availability.valid && (listingForm.controls.availability.dirty || submitted)" class="danger error">Svailability date is not valid.</p>
					<ion-list-header class="range-header">
						<h3 text-center><strong>Lease Duration</strong></h3>
					</ion-list-header>
					<ion-list-header class="range-header">
						<div item-start>{{rangeLabelLower}}</div>
						<div item-end>{{rangeLabelUpper}}</div>
					</ion-list-header>
					<ion-item>
						<ion-range formControlName="duration" [(ngModel)]="listing.duration" (ionChange)="durationChange()" min="1" max="12" dualKnobs="true" [class.invalid]="!listingForm.controls.duration.valid && (listingForm.controls.duration.dirty || submitted)"></ion-range>
					</ion-item>
				</ion-list>
			</ion-slide>
			<ion-slide padding>
				<h1>What's some of the cool amenities does the room come with?</h1>
				<ion-grid class="amenities">
					<ion-row>
						<ion-col (click)="select('amenities', 'washer')" col-3>
							<input formControlName="washer" [(ngModel)]="listing.amenities.washer" type="checkbox" />
							<div class="icon-laundry"></div>
							<h4>In-unit Washer</h4>
						</ion-col>
						<ion-col (click)="select('amenities', 'wifi')" col-3>
							<input formControlName="wifi" [(ngModel)]="listing.amenities.wifi" type="checkbox" />
							<div class="icon-wifi"></div>
							<h4>Wifi Included</h4>
						</ion-col>
						<ion-col (click)="select('amenities', 'water')" col-3>
							<input formControlName="water" [(ngModel)]="listing.amenities.water" type="checkbox" />
							<div class="icon-drop2"></div>
							<h4>Water Included</h4>
						</ion-col>
						<ion-col (click)="select('amenities', 'electricity')" col-3>
							<input formControlName="electricity" [(ngModel)]="listing.amenities.electricity" type="checkbox" />
							<div class="icon-outlet"></div>
							<h4>Electricty Included</h4>
						</ion-col>
						<ion-col (click)="select('amenities', 'furnished')" col-3>
							<input formControlName="furnished" [(ngModel)]="listing.amenities.furnished" type="checkbox" />
							<div class="icon-couch"></div>
							<h4>Furnished</h4>
						</ion-col>
						<ion-col (click)="select('amenities', 'doorman')" col-3>
							<input formControlName="doorman" [(ngModel)]="listing.amenities.doorman" type="checkbox" />
							<div class="icon-hand-waving"></div>
							<h4>Doorman</h4>
						</ion-col>
						<ion-col (click)="select('amenities', 'air')" col-3>
							<input formControlName="air" [(ngModel)]="listing.amenities.air" type="checkbox" />
							<div class="icon-fan"></div>
							<h4>Air Conditioning</h4>
						</ion-col>
						<ion-col (click)="select('amenities', 'heating')" col-3>
							<input formControlName="heating" [(ngModel)]="listing.amenities.heating" type="checkbox" />
							<div class="icon-thermometer"></div>
							<h4>Heating</h4>
						</ion-col>
						<ion-col (click)="select('amenities', 'month')" col-3>
							<input formControlName="month" [(ngModel)]="listing.amenities.month" type="checkbox" />
							<div class="icon-calendar-full"></div>
							<h4>Month-to-Month</h4>
						</ion-col>
						<ion-col (click)="select('amenities', 'gym')" col-3>
							<input formControlName="gym" [(ngModel)]="listing.amenities.gym" type="checkbox" />
							<div class="icon-bench-press"></div>
							<h4>Gym</h4>
						</ion-col>
						<ion-col (click)="select('amenities', 'tv')" col-3>
							<input formControlName="tv" [(ngModel)]="listing.amenities.tv" type="checkbox" />
							<div class="icon-tv"></div>
							<h4>Television</h4>
						</ion-col>
						<ion-col (click)="select('amenities', 'bathroom')" col-3>
							<input formControlName="bathroom" [(ngModel)]="listing.amenities.bathroom" type="checkbox" />
							<div class="icon-bathtub"></div>
							<h4>Private Bathroom</h4>
						</ion-col>
						<ion-col (click)="select('amenities', 'dog')" col-3>
							<input formControlName="dog" [(ngModel)]="listing.amenities.dog" type="checkbox" />
							<div class="icon-bone"></div>
							<h4>Has Dog</h4>
						</ion-col>
						<ion-col (click)="select('amenities', 'cat')" col-3>
							<input formControlName="cat" [(ngModel)]="listing.amenities.cat" type="checkbox" />
							<div class="icon-paw"></div>
							<h4>Has Cat</h4>
						</ion-col>
						<ion-col (click)="select('amenities', 'otherPet')" col-3>
							<input formControlName="otherPet" [(ngModel)]="listing.amenities.otherPet" type="checkbox" />
							<div class="icon-fish"></div>
							<h4>Has Other Pet</h4>
						</ion-col>
					</ion-row>
				</ion-grid>
				<h1>Any house rules?</h1>
				<ion-grid class="rules">
					<ion-row>
						<ion-col (click)="select('rules', 'smoking')" col-3>
							<input formControlName="smoking" [(ngModel)]="listing.rules.smoking" type="checkbox" />
							<div class="custom-icon no-smoking"></div>
							<h4>No Smoking</h4>
						</ion-col>
						<ion-col (click)="select('rules', 'pets')" col-3>
							<input formControlName="pets" [(ngModel)]="listing.rules.pets" type="checkbox" />
							<div class="custom-icon no-pets"></div>
							<h4>No Pets</h4>
						</ion-col>
						<ion-col (click)="select('rules', 'drugs')" col-3>
							<input formControlName="drugs" [(ngModel)]="listing.rules.drugs" type="checkbox" />
							<div class="custom-icon no-drugs"></div>
							<h4>No Drugs</h4>
						</ion-col>
						<ion-col (click)="select('rules', 'drinking')" col-3>
							<input formControlName="drinking" [(ngModel)]="listing.rules.drinking" type="checkbox" />
							<div class="custom-icon no-alcohol"></div>
							<h4>No Drinking</h4>
						</ion-col>
						<ion-col (click)="select('rules', 'dogOk')" col-3>
							<input formControlName="dogOk" [(ngModel)]="listing.rules.dogOk" type="checkbox" />
							<div class="icon-bone"></div>
							<h4>Dogs Ok</h4>
						</ion-col>
						<ion-col (click)="select('rules', 'catOk')" col-3>
							<input formControlName="catOk" [(ngModel)]="listing.rules.catOk" type="checkbox" />
							<div class="icon-paw"></div>
							<h4>Cats Ok</h4>
						</ion-col>
						<ion-col (click)="select('rules', 'otherPetOk')" col-3>
							<input formControlName="otherPetOk" [(ngModel)]="listing.rules.otherPetOk" type="checkbox" />
							<div class="icon-fish"></div>
							<h4>Other Pets OK</h4>
						</ion-col>
						<ion-col (click)="select('rules', 'couplesOk')" col-3>
							<input formControlName="couplesOk" [(ngModel)]="listing.rules.couplesOk" type="checkbox" />
							<div class="icon-man-woman"></div>
							<h4>Couple Ok</h4>
						</ion-col>
						<ion-col col-3></ion-col>
						<ion-col col-3></ion-col>
					</ion-row>
				</ion-grid>
			</ion-slide>
			<ion-slide padding>
				<h1>Add some photos of your place.</h1>
				<p *ngIf="listing.images && listing.images.length <= 2 && submitted" class="danger error image-error">Please include atleast 3 images for your listing.</p>
				<input type="file" id="file" (change)="onFileChange($event)" #file>
				<ion-grid class="photo-container">
					<ion-row class="header-image">
						<ion-col (click)="editPhoto()" [ngClass]="{'hasImage': listing.images}">
							<ion-icon name="images"></ion-icon>
							<img *ngIf="listing.images" [attr.src]="listing.images[0].src" alt="First Header Image" />
							<button (click)="deleteImage(0, $event)" *ngIf="listing.images" color="danger" class="trash" ion-button icon-only>
								<ion-icon name="trash"></ion-icon>
							</button>
						</ion-col>
					</ion-row>
					<ion-row class="additional-images" *ngIf="listing.images">
						<ion-col *ngFor="let image of listing.images; let i = index; let first = first;" [ngClass]="{'first': first, 'hasImage': image}" (click)="editPhoto()" col-4>
							<img [attr.src]="image.src" alt="{{listing.title}}" />
							<button (click)="deleteImage(i, $event)" *ngIf="image.src" color="danger" class="trash" ion-button icon-only>
								<ion-icon name="trash"></ion-icon>
							</button>
						</ion-col>
						<ion-col class="empty-photo" (click)="editPhoto()" col-4>
							<ion-icon name="images"></ion-icon>
						</ion-col>
					</ion-row>
				</ion-grid>
			</ion-slide>
		</ion-slides>
		<ion-fab right bottom>
			<button ion-fab (click)="next()" [disabled]="saving">
				<ion-icon name="ios-arrow-forward" *ngIf="!saving"></ion-icon>
				<ion-spinner color="light" *ngIf="saving"></ion-spinner>
			</button>
		</ion-fab>
	</form>
</ion-content>