page-new-listing {
  .danger.error {
    color: rgba(231, 76, 60, .7);
    font-size: 12px;
    font-weight: 400;
    margin: 0;
    padding: 8px 16px;

    &.image-error {
      font-size: 16px;
    }
  }

  ion-slide.swiper-slide {
    align-items: flex-start;

    .slide-zoom {
      text-align: initial;
    }

    img {
      width: 100%;
    }
  }

  h1 {
    font-weight: bold;
    margin-bottom: 36px;
  }

  .custom-icon {
    height: 32px;
    margin: auto;
    width: 32px;
  }

  ion-item.checkbox {
    margin-top: 24px;

    ion-checkbox {
      margin: 9px 16px 9px 4px !important;
    }

    ion-label {
      white-space: initial !important;
    }
  }

  .age-title {
    margin-top: 24px;
  }

  ion-segment .segment-button {
    height: auto!important;
    padding-top: 10px !important;

    ion-icon {
      font-size: 5rem !important;
    }

    .segment-label {
      line-height: normal;
      margin-bottom: 5px;
    }
  }

  .segment-ios .segment-button {
    padding-top: 20px !important;
  }

  .range-header {
    border: 0;
    margin: 0;
  }

  .grid.amenities .col,
  .grid.rules .col {
    padding: 8px;
    text-align: center;

    [class*=" icon-"]:not(.icon-md),
    [class^="icon-"]:not(.icon-md) {
      font-size: 32px;
    }

    h4 {
      font-size: 1.25rem;
      margin: 8px 0;
      min-width: 50px;
    }

    input {
      display: none;
    }

    input[type=checkbox]:checked {
      ~ [class*=" icon-"]:not(.icon-md),
      ~ [class^="icon-"]:not(.icon-md),
      ~ h4 {
        color: #e67e22;
      }

      ~ .custom-icon {
        background-color: #e67e22;
      }
    }
  }

  #file {
    display: none;
  }

  .grid.photo-container {
    .col {
      height: 125px;
      overflow: hidden;
      padding: 2px;
      position: relative;

      &::after {
        background-color: #ecf0f1;
        content: '';
        display: block;
        height: 100%;
        width: 100%;
      }

      img {
        height: 100%;
        object-fit: cover;
      }

      ion-icon[name="images"] {
        font-size: 60px;
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translate(-50%,-50%);
      }

      .trash {
        position: absolute;
        right: 0;
        top: 0;
      }

      &.first {
        display: none;
      }

      &.hasImage {
        background-color: initial;
      }
    }

    .header-image {
      .col {
        height: 300px;

        &.hasImage {
          &::after {
            display: none;
          }

          ion-icon[name="images"] {
            display: none;
          }

          img {
            width: 100%;
          }
        }
      }
    }
  }

  @media (max-width: 380px) {
    ion-col[col-3] {
      flex: 0 0 33.33333%;
      max-width: 33.33333%;
      width: 33.33333%;
    }
  }

  @media (max-width: 240px) {
    ion-col[col-3] {
      flex: 0 0 50%;
      max-width: 50%;
      width: 50%;
    }
  }
}
