<ion-header>
	<ion-navbar>
		<ion-title>Edit Profile</ion-title>
		<ion-buttons end>
			<button (click)="saveProfile()" ion-button clear>
				Save
			</button>
		</ion-buttons>
	</ion-navbar>
</ion-header>
<ion-content>
	<form [formGroup]="profileForm" *ngIf="user" novalidate>
		<input type="file" id="file" (change)="onFileChange($event)" #file>
		<ion-slides centeredSlides="false" (click)="editPhoto()">
			<ion-slide *ngFor="let image of user.images; let i = index">
				<img [attr.src]="image.src" alt="{{user.firstName}}" />
				<button (click)="deleteImage(i, $event)" *ngIf="image.src" color="danger" class="trash" ion-button icon-only>
					<ion-icon name="trash"></ion-icon>
				</button>
			</ion-slide>
			<ion-slide *ngIf="!hasProfileImage()">
				<img [attr.src]="DEFAULT_USER_IMAGE" alt="Default User Image" />
			</ion-slide>
		</ion-slides>
		<ion-list>
			<ion-list-header>
				Personal Info
			</ion-list-header>
			<ion-item>
				<ion-label stacked>First Name</ion-label>
				<ion-input formControlName="firstName" type="text"></ion-input>
			</ion-item>
			<ion-item>
				<ion-label stacked>Last Name</ion-label>
				<ion-input formControlName="lastName" type="text"></ion-input>
			</ion-item>
			<ion-item>
				<ion-label>Gender</ion-label>
				<ion-select formControlName="gender">
					<ion-option value="Female">Female</ion-option>
					<ion-option value="Male">Male</ion-option>
				</ion-select>
			</ion-item>
			<ion-item>
				<ion-label stacked>Email</ion-label>
				<ion-input formControlName="email" type="email" [disabled]="isEmailDisabled()"></ion-input>
			</ion-item>
			<ion-item>
				<ion-label stacked>Phone</ion-label>
				<ion-input formControlName="phone" type="tel" mask="(999)-999-9999"></ion-input>
			</ion-item>
			<ion-item>
				<ion-label stacked>Birthdate</ion-label>
				<ion-datetime formControlName="birthdate" displayFormat="MMM DD, YYYY" pickerFormat="MMM DD YYYY" [max]="maxBirthDate"></ion-datetime>
			</ion-item>
			<ion-item>
				<ion-label stacked>Where You Live</ion-label>
				<ion-input formControlName="location" type="text"></ion-input>
			</ion-item>
			<ion-item>
				<ion-label stacked>About Me</ion-label>
				<ion-textarea formControlName="description" rows="8"></ion-textarea>
			</ion-item>
			<ion-item>
				<ion-label stacked>Move in Date</ion-label>
				<ion-datetime formControlName="moveInDate" displayFormat="MMM DD, YYYY" pickerFormat="MMM DD YYYY" [min]="minMoveDate"></ion-datetime>
			</ion-item>
			<ion-item>
				<!--<ion-label>step=100, snaps, </ion-label>
				<ion-range [(ngModel)]="budget" min="0" max="5000"></ion-range>-->
			</ion-item>
		</ion-list>
	</form>
</ion-content>