<ion-header>
	<ion-navbar>
		<ion-title>Settings</ion-title>
	</ion-navbar>
</ion-header>
<ion-content>
	<div *ngIf="(user$ | async) as user;">
		<ion-list>
			<ion-list-header>
				Verification
			</ion-list-header>
			<ion-item *ngIf="authData && !authData.emailVerified" class="overflow">
				<h2>Email address</h2>
				<p>Please verify your email address by clicking the link in the message we just sent to: {{user.email}}</p>
				<button (click)="verifyEmail()" item-end ion-button clear>
					Resend
				</button>
			</ion-item>
			<ion-item class="overflow">
				<h2>Google</h2>
				<p>Connect your Homora account to your Google account for simplicity and ease.</p>
				<button (click)="connect('google.com', user)" *ngIf="!hasProvider('google.com')" item-end ion-button clear>Connect</button>
				<button (click)="disconnect('google.com', user)" *ngIf="hasProvider('google.com')" item-end ion-button clear>Disconnect</button>
			</ion-item>
			<ion-item class="overflow" item-content>
				<h2>Facebook</h2>
				<p>Sign in with Facebook and discover your trusted connections to hosts and guests all over the world.</p>
				<button (click)="connect('facebook.com', user)" *ngIf="!hasProvider('facebook.com')" item-end ion-button clear>Connect</button>
				<button (click)="disconnect('facebook.com', user)" *ngIf="hasProvider('facebook.com')" item-end ion-button clear>Disconnect</button>
			</ion-item>
			<ion-item class="overflow verify-phone" *ngIf="!user.phoneVerified && !showVerifyToken">
				<div item-content>
					<h2>Phone number</h2>
					<p>Make it easier to communicate with a verified phone number. We’ll send you a code by SMS or read it to you over the phone. Enter the code below to confirm that you’re the person on the other end.</p>
					<form [formGroup]="verifyPhoneForm" (ngSubmit)="verifyPhone(user)" novalidate>
						<ion-item>
							<ion-label stacked text-uppercase>Phone Number</ion-label>
							<ion-input formControlName="phone" type="tel" [(ngModel)]="user.phone" mask="(999)-999-9999"></ion-input>
						</ion-item>
						<button type="submit" (click)="verifyAction='sms'" ion-button>
							Verify via SMS
						</button>
						<button type="submit" (click)="verifyAction='phone'" ion-button>
							Verify via Call
						</button>
					</form>
				</div>
			</ion-item>
			<ion-item class="overflow verify-token" *ngIf="!user.phoneVerified && showVerifyToken">
				<div style="width:100%" item-content>
					<h2>We sent a verification code to: <strong>{{user.phone}}</strong></h2>
					<p class="caption">Please enter the 4-digit code:</p>
					<form [formGroup]="verifyTokenForm" (ngSubmit)="verifyToken(user)" novalidate>
						<ion-item>
							<ion-label stacked text-uppercase>Token</ion-label>
							<ion-input formControlName="token" type="text"></ion-input>
						</ion-item>
						<button type="submit" ion-button>
						Verify
					</button>
						<button type="button" color="light" (click)="showVerifyToken = false;" ion-button>
						Cancel
					</button>
					</form>
				</div>
			</ion-item>
		</ion-list>
		<ion-list>
			<ion-list-header>
				About
			</ion-list-header>
			<button ion-item (click)="openUrl('https://v2.homora.com/policy/terms')" detail-push>
				Terms of Service
			</button>
			<button ion-item (click)="openUrl('https://v2.homora.com/policy/privacy')" detail-push>
				Privacy Policy
			</button>
		</ion-list>
		<ion-list>
			<ion-list-header>
				Other
			</ion-list-header>
			<button ion-item (click)="logout()">
				Log Out
			</button>
			<button ion-item (click)="closeAccount(user)" *ngIf="false">
				Deactivate Account
			</button>
		</ion-list>
		<ion-list *ngIf="platform.is('cordova')">
			<ion-list-header>
				Feedback
			</ion-list-header>
			<button ion-item (click)="contact()">
				Email Us
			</button>
		</ion-list>
	</div>
</ion-content>