page-settings {
  .item-block.overflow {
    ion-label {
      white-space: initial;
    }

    p {
      text-overflow: initial;
    }

    &.verify-phone > .item-inner > .input-wrapper {
      margin: 13px 8px 13px 0;

      form .item {
        margin-bottom: 16px;

        .item-inner {
          border-bottom-color: #c8c7cc85;
          border-bottom-style: solid;
          border-bottom-width: 1px;
        }
      }
    }
  }
}
