<ion-header no-border>
	<ion-navbar>
		<ion-buttons left>
			<button ion-button icon-start icon-only (click)="close()" start clear>
				<ion-icon name="close"></ion-icon>
			</button>
		</ion-buttons>
		<ion-buttons right>
			<button ion-button (click)="reset()" clear>
				Clear
			</button>
		</ion-buttons>
	</ion-navbar>
</ion-header>
<ion-content>
	<ion-list>
		<ion-item>
			<ion-label>Sort By</ion-label>
			<ion-select [(ngModel)]="listingProvider.sort" (ionChange)="onChange()">
				<ion-option>Best Match</ion-option>
				<ion-option>Recent</ion-option>
				<ion-option>Price</ion-option>
			</ion-select>
		</ion-item>
		<ion-list-header class="range-header">
			<ion-label>Price</ion-label>
		</ion-list-header>
		<ion-list-header class="range-header">
			<div item-start>{{listingProvider.price.lower | currency:'USD':true:'1.0-3'}}</div>
			<div item-end>{{listingProvider.price.upper | currency:'USD':true:'1.0-3'}}</div>
		</ion-list-header>
		<ion-item>
			<ion-range min="0" max="10000" debounce="500" dualKnobs="true" [(ngModel)]="listingProvider.price" (ionChange)="onChange()"></ion-range>
		</ion-item>
		<ion-list-header class="range-header">
			<ion-label>Duration</ion-label>
		</ion-list-header>
		<ion-list-header class="range-header">
			<div item-start>{{listingProvider.duration.lower}}</div>
			<div item-end>{{listingProvider.duration.upper}}</div>
		</ion-list-header>
		<ion-item>
			<ion-range min="0" max="12" debounce="500" dualKnobs="true" [(ngModel)]="listingProvider.duration" (ionChange)="onChange()"></ion-range>
		</ion-item>
		<ion-item>
			<ion-label>Gender</ion-label>
			<ion-select [(ngModel)]="listingProvider.gender" (ionChange)="onChange()">
				<ion-option value="all">Either</ion-option>
				<ion-option value="female">Female</ion-option>
				<ion-option value="male">Male</ion-option>
			</ion-select>
		</ion-item>
		<ion-item>
			<ion-label>Move-In Date</ion-label>
			<ion-datetime displayFormat="MMM DD, YYYY" pickerFormat="MMM DD YYYY" [min]="minAvailability"></ion-datetime>
		</ion-item>
		<ion-list-header class="range-header">
			<ion-label>Age</ion-label>
		</ion-list-header>
		<ion-row class="checkbox-container">
			<ion-item col-6 no-border>
				<ion-label>Early 20s</ion-label>
				<ion-checkbox [(ngModel)]="listingProvider.age.groupEarly20" (ionChange)="onChange()"></ion-checkbox>
			</ion-item>
			<ion-item col-6 no-border>
				<ion-label>Late 20s</ion-label>
				<ion-checkbox [(ngModel)]="listingProvider.age.groupLate20" (ionChange)="onChange()"></ion-checkbox>
			</ion-item>
		</ion-row>
		<ion-row class="checkbox-container">
			<ion-item col-6 no-border>
				<ion-label>30s</ion-label>
				<ion-checkbox [(ngModel)]="listingProvider.age.group30" (ionChange)="onChange()"></ion-checkbox>
			</ion-item>
			<ion-item col-6 no-border>
				<ion-label>40s and older</ion-label>
				<ion-checkbox [(ngModel)]="listingProvider.age.group40older" (ionChange)="onChange()"></ion-checkbox>
			</ion-item>
		</ion-row>
		<ion-item-divider></ion-item-divider>
		<ion-list-header class="range-header">
			<ion-label>Amenities</ion-label>
		</ion-list-header>
		<ion-row class="checkbox-container checkbox-icon">
			<ion-item col-6 no-border>
				<ion-label>
					<div class="icon-laundry"></div>In-unit Washer
				</ion-label>
				<ion-checkbox [(ngModel)]="listingProvider.amenities.washer" (ionChange)="onChange()"></ion-checkbox>
			</ion-item>
			<ion-item col-6 no-border>
				<ion-label>
					<div class="icon-wifi"></div>Wifi Included
				</ion-label>
				<ion-checkbox [(ngModel)]="listingProvider.amenities.wifi" (ionChange)="onChange()"></ion-checkbox>
			</ion-item>
		</ion-row>
		<ion-row class="checkbox-container checkbox-icon">
			<ion-item col-6 no-border>
				<ion-label>
					<div class="icon-drop2"></div>Water Included
				</ion-label>
				<ion-checkbox [(ngModel)]="listingProvider.amenities.water" (ionChange)="onChange()"></ion-checkbox>
			</ion-item>
			<ion-item col-6 no-border>
				<ion-label>
					<div class="icon-outlet"></div>Electricty Included
				</ion-label>
				<ion-checkbox [(ngModel)]="listingProvider.amenities.electricity" (ionChange)="onChange()"></ion-checkbox>
			</ion-item>
		</ion-row>
		<ion-row class="checkbox-container checkbox-icon">
			<ion-item col-6 no-border>
				<ion-label>
					<div class="icon-couch"></div>Furnished
				</ion-label>
				<ion-checkbox [(ngModel)]="listingProvider.amenities.furnished" (ionChange)="onChange()"></ion-checkbox>
			</ion-item>
			<ion-item col-6 no-border>
				<ion-label>
					<div class="icon-hand-waving"></div>Doorman
				</ion-label>
				<ion-checkbox [(ngModel)]="listingProvider.amenities.doorman" (ionChange)="onChange()"></ion-checkbox>
			</ion-item>
		</ion-row>
		<ion-row class="checkbox-container checkbox-icon">
			<ion-item col-6 no-border>
				<ion-label>
					<div class="icon-fan"></div>Air Conditioning
				</ion-label>
				<ion-checkbox [(ngModel)]="listingProvider.amenities.air" (ionChange)="onChange()"></ion-checkbox>
			</ion-item>
			<ion-item col-6 no-border>
				<ion-label>
					<div class="icon-calendar-full"></div>Month-to-Month
				</ion-label>
				<ion-checkbox [(ngModel)]="listingProvider.amenities.month" (ionChange)="onChange()"></ion-checkbox>
			</ion-item>
		</ion-row>
		<ion-row class="checkbox-container checkbox-icon">
			<ion-item col-6 no-border>
				<ion-label>
					<div class="icon-bench-press"></div>Gym
				</ion-label>
				<ion-checkbox [(ngModel)]="listingProvider.amenities.gym" (ionChange)="onChange()"></ion-checkbox>
			</ion-item>
			<ion-item col-6 no-border>
				<ion-label>
					<div class="icon-tv"></div>Television
				</ion-label>
				<ion-checkbox [(ngModel)]="listingProvider.amenities.tv" (ionChange)="onChange()"></ion-checkbox>
			</ion-item>
		</ion-row>
		<ion-row class="checkbox-container checkbox-icon">
			<ion-item col-6 no-border>
				<ion-label>
					<div class="icon-bathtub"></div>Private Bathroom
				</ion-label>
				<ion-checkbox [(ngModel)]="listingProvider.amenities.bathroom" (ionChange)="onChange()"></ion-checkbox>
			</ion-item>
			<ion-item col-6 no-border>
				<ion-label>
					<div class="icon-bone"></div>Has Dog
				</ion-label>
				<ion-checkbox [(ngModel)]="listingProvider.amenities.dog" (ionChange)="onChange()"></ion-checkbox>
			</ion-item>
		</ion-row>
		<ion-row class="checkbox-container checkbox-icon">
			<ion-item col-6 no-border>
				<ion-label>
					<div class="icon-paw"></div>Has Cat
				</ion-label>
				<ion-checkbox [(ngModel)]="listingProvider.amenities.cat" (ionChange)="onChange()"></ion-checkbox>
			</ion-item>
			<ion-item col-6 no-border>
				<ion-label>
					<div class="icon-fish"></div>Has Other Pet
				</ion-label>
				<ion-checkbox [(ngModel)]="listingProvider.amenities.otherPet" (ionChange)="onChange()"></ion-checkbox>
			</ion-item>
		</ion-row>
		<ion-item-divider></ion-item-divider>
		<ion-list-header class="range-header">
			<ion-label>Rules</ion-label>
		</ion-list-header>
		<ion-row class="checkbox-container checkbox-icon">
			<ion-item col-6 no-border>
				<ion-label>
					<div class="icon-border-outer"></div>No Smoking
				</ion-label>
				<ion-checkbox [(ngModel)]="listingProvider.rules.smoking" (ionChange)="onChange()"></ion-checkbox>
			</ion-item>
			<ion-item col-6 no-border>
				<ion-label>
					<div class="icon-border-outer"></div>No Pets
				</ion-label>
				<ion-checkbox [(ngModel)]="listingProvider.rules.pets" (ionChange)="onChange()"></ion-checkbox>
			</ion-item>
		</ion-row>
		<ion-row class="checkbox-container checkbox-icon">
			<ion-item col-6 no-border>
				<ion-label>
					<div class="icon-border-outer"></div>No Drugs
				</ion-label>
				<ion-checkbox [(ngModel)]="listingProvider.rules.drugs" (ionChange)="onChange()"></ion-checkbox>
			</ion-item>
			<ion-item col-6 no-border>
				<ion-label>
					<div class="icon-border-outer"></div>No Drinking
				</ion-label>
				<ion-checkbox [(ngModel)]="listingProvider.rules.drinking" (ionChange)="onChange()"></ion-checkbox>
			</ion-item>
		</ion-row>
		<ion-row class="checkbox-container checkbox-icon">
			<ion-item col-6 no-border>
				<ion-label>
					<div class="icon-bone"></div>Dogs Ok
				</ion-label>
				<ion-checkbox [(ngModel)]="listingProvider.rules.dogOk" (ionChange)="onChange()"></ion-checkbox>
			</ion-item>
			<ion-item col-6 no-border>
				<ion-label>
					<div class="icon-paw"></div>Cats Ok
				</ion-label>
				<ion-checkbox [(ngModel)]="listingProvider.rules.catOk" (ionChange)="onChange()"></ion-checkbox>
			</ion-item>
		</ion-row>
		<ion-row class="checkbox-container checkbox-icon">
			<ion-item col-6 no-border>
				<ion-label>
					<div class="icon-fish"></div>Other Pets OK
				</ion-label>
				<ion-checkbox [(ngModel)]="listingProvider.rules.otherPetOk" (ionChange)="onChange()"></ion-checkbox>
			</ion-item>
			<ion-item col-6 no-border>
				<ion-label>
					<div class="icon-man-woman"></div>Couple Ok
				</ion-label>
				<ion-checkbox [(ngModel)]="listingProvider.rules.couplesOk" (ionChange)="onChange()"></ion-checkbox>
			</ion-item>
		</ion-row>
	</ion-list>
</ion-content>
<ion-footer>
	<button [disabled]="loading" ion-button rounded block>
		<span *ngIf="!loading">Show {{listingTotal}}+ Rooms</span>
		<ion-spinner name="dots" *ngIf="loading" color="light"></ion-spinner>
	</button>
</ion-footer>