<ion-content>
	<div *ngIf="(listings$ | async) as listings;">
		<ion-card *ngFor="let listing of listings" (click)="viewListing(listing.$key)">
			<div class="slide-container">
				<ion-slides pager="true">
					<ion-slide *ngFor="let image of listing.images">
						<img [attr.src]="image.src" alt="{{listing.title}}" />
					</ion-slide>
					<ion-slide *ngIf="!listing.images">
						<img [attr.src]="DEFAULT_LISTING_IMAGE" alt="Default Image" />
					</ion-slide>
				</ion-slides>
				<div class="price-container">
					<h2 class="price" color="light" ion-text>{{listing.price | currency:'USD':true:'1.0-3'}}</h2>
				</div>
				<button class="favorite" (click)="toggleFavorite(listing.$key, $event)" *ngIf="user" ion-button icon-only clear>
					<ion-icon name="{{isFavorite(listing.$key)}}"></ion-icon>
				</button>
			</div>
			<ion-card-content>
				<ion-card-header class="profile" no-padding>
					<ion-avatar class="avatar" (click)="viewProfile(createdBy.$key, $event)" *ngIf="(listing.createdBy$ | async) as createdBy;">
						<img [attr.src]="(createdBy.images[0].src) ? createdBy.images[0].src : DEFAULT_USER_IMAGE" alt="{{createdBy.firstName}} {{createdBy.lastName}}">
					</ion-avatar>
				</ion-card-header>
				<ion-card-title>{{listing.title}}</ion-card-title>
				<p class="sub-text">{{listing.availability | date: 'M/d'}} &#183; 1-12 Months Lease</p>
			</ion-card-content>
		</ion-card>
	</div>
	<ion-fab left bottom>
		<button ion-fab (click)="openFilter()">
			<ion-icon name="funnel"></ion-icon>
		</button>
	</ion-fab>
	<ion-fab right bottom>
		<button ion-fab (click)="openMaps()">
			<ion-icon name="map"></ion-icon>
		</button>
	</ion-fab>
</ion-content>