<ion-content>
	<div *ngIf="listings && listings.length > 0; else empty_results">
		<ion-card *ngFor="let listing of listings" (click)="viewListing(listing.$key)">
			<div class="slide-container">
				<ion-slides pager="true">
					<ion-slide *ngFor="let image of listing.images">
						<img [attr.src]="image.src" alt="{{listing.title}}" />
					</ion-slide>
					<ion-slide *ngIf="!hasListingImage(listing)">
						<img [attr.src]="DEFAULT_LISTING_IMAGE" alt="Default Image" />
					</ion-slide>
				</ion-slides>
				<div class="price-container">
					<h2 class="price" color="light" ion-text>{{listing.price | currency:'USD':'symbol':'1.0-3'}}</h2>
				</div>
				<button class="favorite" (click)="toggleFavorite(listing.$key, $event)" *ngIf="user" ion-button icon-only clear>
					<ion-icon name="{{isFavorite(listing.$key)}}"></ion-icon>
				</button>
			</div>
			<ion-card-content>
				<ion-card-header class="profile" no-padding>
					<ion-avatar class="avatar" (click)="viewProfile(createdBy.$key, $event)" *ngIf="(listing.createdBy$ | async) as createdBy;">
						<img [attr.src]="createdBy.images && createdBy.images[0] ? createdBy.images[0].src : DEFAULT_USER_IMAGE" alt="{{createdBy.firstName}} {{createdBy.lastName}}">
					</ion-avatar>
				</ion-card-header>
				<ion-card-title>{{listing.title}}</ion-card-title>
				<p class="sub-text" *ngIf="listing.duration">{{availability(listing.availability.toDate())}} &#183; {{duration(listing.duration.lower, listing.duration.upper)}}</p>
			</ion-card-content>
		</ion-card>
	</div>
	<ng-template #empty_results>
		<ion-grid *ngIf="!isLoading" class="empty-listings">
			<ion-row justify-content-center align-items-center>
				<div>
					<h1>No Results</h1>
					<p>To get more results, try adjusting your search by changing your move-in date, removing your filters, or zooming out of the map.</p>
					<button (click)="removeFilters()" ion-button rounded>Remove Filters</button>
				</div>
			</ion-row>
		</ion-grid>
	</ng-template>
	<ion-fab left bottom>
		<button ion-fab (click)="openFilter()">
			<ion-icon name="funnel"></ion-icon>
		</button>
	</ion-fab>
	<ion-fab right bottom>
		<button ion-fab (click)="openMaps()">
			<ion-icon name="map"></ion-icon>
		</button>
	</ion-fab>
</ion-content>