@font-face {
  font-family: 'Linearicons';
  font-style: normal;
  font-weight: normal;
  src: url('../assets/fonts/LinearIcons/Linearicons.ttf') format('truetype');
}

.slide-zoom {
  height: 100%;

  img {
    height: 100%;
    object-fit: cover;
    width: 100%;
  }
}

.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
  pointer-events: none;
}
/* high-performance display:none; helper */
.gu-hide {
  left: -9999px !important;
}
/* added to mirrorContainer (default = body) while dragging */
.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}
/* added to the source element while its mirror is dragged */
.gu-transit {
  opacity: 0.2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
}

[class*=" icon-"]:not(.icon-md):not(.icon-ios),
[class^="icon-"]:not(.icon-md):not(.icon-ios) {
  -moz-font-feature-settings: 'liga=1';
  -moz-font-feature-settings: 'liga';
  -moz-osx-font-smoothing: grayscale;
  -ms-font-feature-settings: 'liga' 1;
  -o-font-feature-settings: 'liga';

  /* Enable Ligatures ================ */
  -webkit-font-feature-settings: 'liga';

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  font-family: 'Linearicons';
  font-feature-settings: 'liga';
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  speak: none;
  text-transform: none;
}

.icon-laundry:before {
  content: '\e743';
}

.icon-wifi:before {
  content: '\e8b7';
}

.icon-drop2:before {
  content: '\e635';
}

.icon-outlet:before {
  content: '\e7c0';
}

.icon-couch:before {
  content: '\e609';
}

.icon-hand-waving:before {
  content: '\e72e';
}

.icon-fan:before {
  content: '\e644';
}

.icon-thermometer:before {
  content: '\e7f0';
}

.icon-calendar-full:before {
  content: '\e789';
}

.icon-bench-press:before {
  content: '\e862';
}

.icon-tv:before {
  content: '\e7b5';
}

.icon-bathtub:before {
  content: '\e606';
}

.icon-bone:before {
  content: '\e7f5';
}

.icon-fish:before {
  content: '\e81f';
}

.icon-paw:before {
  content: '\e832';
}

.icon-man-woman:before {
  content: '\e733';
}

.icon-border-outer:before {
  content: '\e9e0';
}

.custom-icon {
  background-color: #606c76;
  height: 20px;
  vertical-align: middle;
  width: 20px;

  &.no-alcohol {
    mask: url('../assets/icons/no-alcohol.svg');
  }

  &.no-pets {
    mask: url('../assets/icons/no-animals.svg');
  }

  &.no-drugs {
    mask: url('../assets/icons/no-drugs.svg');
  }

  &.no-smoking {
    mask: url('../assets/icons/no-smoking.svg');
  }
}
