<ion-content>
	<div class="logo-container">
		<img src="assets/imgs/logo.png" alt="Logo" /> Homora
	</div>
	<ion-slides pager>
		<ion-slide>
			<img src="assets/imgs/intro/apartment.png" alt="Slide 1" />
			<h2>Lorem ipsum dolor</h2>
			<p>Cras vitae laoreet dui. Nam pretium auctor viverra. Sed vel sollicitudin tellus. Aenean iaculis tristique eros at blandit.</p>
		</ion-slide>
		<ion-slide>
			<img src="assets/imgs/intro/bed.png" alt="Slide 2" />
			<h2>Duis vulputate</h2>
			<p>Mauris volutpat dapibus sapien at suscipit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec quis ullamcorper risus.</p>
		</ion-slide>
		<ion-slide>
			<img src="assets/imgs/intro/bill.png" alt="Slide 3" />
			<h2>Orci varius</h2>
			<p> Nulla ultrices arcu neque, sit amet venenatis ante posuere sed. Aenean ut bibendum neque.</p>
		</ion-slide>
	</ion-slides>
</ion-content>
<ion-footer>
	<ion-toolbar>
		<ion-buttons left>
			<button ion-button clear (click)="gotoMainPage()">Skip</button>
		</ion-buttons>
		<ion-buttons right>
			<button ion-button clear *ngIf="!slides.isEnd()" (click)="slides.slideNext()">Next</button>
			<button ion-button clear *ngIf="slides.isEnd()" (click)="openLogin()">Login</button>
		</ion-buttons>
	</ion-toolbar>
</ion-footer>