<ion-header>
	<ion-navbar>
		<ion-title>Messages</ion-title>
	</ion-navbar>
</ion-header>
<ion-content>
	<div *ngIf="(messages$ | async) as messages; else loading" style="height: 100%">
		<ion-list>
			<ion-item-sliding *ngFor="let message of messages | latestMessage" (click)="viewMessage(message.$key)">
				<ion-item [ngClass]="{'unread': !message.read[user.$key]}" *ngIf="{ receiver: message.user$ | async, listing: message.listing$ | async } as data">
					<ion-avatar *ngIf="data.receiver" item-start>
						<img [attr.src]="data.receiver.images && data.receiver.images[0] ? data.receiver.images[0].src : DEFAULT_USER_IMAGE" alt="{{data.receiver.firstName}}" *ngIf="data.listing && !data.listing.scrape">
						<img [attr.src]="data.listing.user.images[0].src" alt="{{data.listing.user.firstName}}" *ngIf="data.listing && data.listing.scrape">
					</ion-avatar>
					<h2 *ngIf="data.listing && !data.listing.scrape && data.receiver">{{data.receiver.firstName}}</h2>
					<h2 *ngIf="data.listing && data.listing.scrape">{{data.listing.user.firstName}}</h2>
					<p>{{message.chats[message.chats.length - 1].message}}</p>
					<p item-end>{{message.modified.toDate() | amTimeAgo}}</p>
				</ion-item>
				<ion-item-options side="right">
					<button ion-button color="danger" (click)="deleteMessage(message.$key);$event.stopPropagation()">
						<ion-icon name="trash"></ion-icon> Delete
					</button>
				</ion-item-options>
			</ion-item-sliding>
		</ion-list>
		<ion-grid class="empty-messages" *ngIf="messages.length <= 0">
			<ion-row justify-content-center align-items-center>
				<div>
					<h1 class="md-headline">No Messages Yet!</h1>
					<button (click)="nav.parent.select(0)" ion-button round>Browse Listings</button>
				</div>
			</ion-row>
		</ion-grid>
	</div>
	<ng-template #loading>
		<ion-grid class="empty-messages">
			<ion-row justify-content-center align-items-center>
				<ion-spinner></ion-spinner>
			</ion-row>
		</ion-grid>
	</ng-template>
</ion-content>