page-messages {
  .empty-messages.grid {
    height: 100%;

    .row {
      height: 100%;
      text-align: center;
    }
  }

  .item-md {
    &.unread h2,
    &.unread p {
      font-weight: bold;
    }

    ion-avatar img {
      object-fit: cover;
    }
  }
}
