<ion-header class="transparent clear-btns">
	<ion-navbar>
	</ion-navbar>
</ion-header>
<ion-content padding>
	<h1 ion-text color="light">Forgot your Password?</h1>
	<p ion-text color="light">Enter your email to find your account.</p>
	<form [formGroup]="reset" (ngSubmit)="doReset()" novalidate>
		<ion-item>
			<ion-label color="light" stacked text-uppercase>Email Address</ion-label>
			<ion-input formControlName="email" type="email" color="light" required></ion-input>
		</ion-item>
		<ion-fab right bottom>
			<button type="submit" [disabled]="!reset.valid" ion-fab>
				<ion-icon name="arrow-forward" *ngIf="!loading"></ion-icon>
				<ion-spinner color="light" *ngIf="loading"></ion-spinner>
			</button>
		</ion-fab>
	</form>
</ion-content>