<ion-header>
	<ion-toolbar>
		<ion-buttons left>
			<button ion-button icon-only (click)="view.dismiss();">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
		</ion-buttons>
		<ion-title>
			Login
		</ion-title>
	</ion-toolbar>
</ion-header>
<ion-content padding>
	<button (click)="facebook()" class="facebook" ion-button full><ion-icon name="logo-facebook"></ion-icon>&nbsp;Log in with Facebook</button>
	<button (click)="google()" class="google" color="light" ion-button full><ion-icon name="logo-google"></ion-icon>&nbsp;Log in with Google</button>
	<div class="or">
		<span>or</span>
	</div>
	<form [formGroup]="login" (ngSubmit)="doLogin()" novalidate>
		<ion-item [class.invalid]="!login.controls.email.valid  && (login.controls.email.dirty || submitAttempt)">
			<ion-input formControlName="email" type="text" placeholder="Email Address" equired></ion-input>
		</ion-item>
		<ion-item class="error" [class.visible]="!login.controls.email.valid  && (login.controls.email.dirty || submitAttempt)">
			<p>Please enter a valid email address.</p>
		</ion-item>
		<ion-item [class.invalid]="!login.controls.password.valid  && (login.controls.password.dirty || submitAttempt)">
			<ion-input formControlName="password" type="password" placeholder="Password" required></ion-input>
		</ion-item>
		<ion-item class="error" [class.visible]="!login.controls.password.valid  && (login.controls.password.dirty || submitAttempt)">
			<p>Please enter a valid password.</p>
		</ion-item>
		<button ion-button color="light" (click)="forgotPassword()" clear>Forgot Password</button>
		<button class="submit" ion-button type="submit" block>Log in</button>
	</form>
	<div class="sign-up">
		<p>Don't have an account?</p>
		<button color="light" (click)="singup()" ion-button>Sign up</button>
	</div>
</ion-content>