page-profile-view-fake {
  .slides {
    height: 320px;

    img {
      max-width: 420px;
      width: 100%;
    }
  }

  .md-headline {
    font-size: 38px;
  }

  .related-listings {
    ion-slides {
      height: 230px;

      ion-slide {
        max-width: 190px;
      }

      img {
        height: 150px;
        object-fit: cover;
        width: 170px;
      }

      .card-content {
        height: 80px;

        .card-title {
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 3;
          display: -webkit-box;
          font-size: 14px;
          font-weight: bold;
          overflow: hidden;
          text-align: left;
        }
      }
    }
  }
}
